html,body {
    height:100%;
    padding:0;
}



.navbar a img{
    width:100px;
}

.home-page-background {
    margin-top: -70px;
    height: 99.5%;
    width:100%;
    background: url("../indexcss/images/melbourne.jpg") center no-repeat;
    background-size:cover;
}


.copy{
    margin-top:-48px;
}

.homepage-caption {
    background-color:rgba(0,0,0,0.4);
    color:white;
    position:center;
    text-align:center;
    padding-top:150px;
    background-size:cover;
    height:100%; 
}

.homepage-caption h1 {
        font-size: 4em;
        font-family: Calibri;
}

.copy homepage-footer {
    margin-top: 48px;
}

.navbar navbar-inverse{
    height: 50px;
}


.effect-oscar{
    padding:20px;
}

#form1{
    height:100%;
}

