/*.navbar a img{
    width:100px;
}*/

.home-page-background {
   background-color:rgba(0,0,0,0.4);
    background-size:cover;
}

/*.homepage-caption {
    
    background-size:cover;
    height:100%; 
}

.homepage-caption h1 {
        font-size: 4em;
        font-family: Calibri;
}


.navbar navbar-inverse{
    height: 50px;
}*/


.effect-oscar{
    padding:20px;
}

/*table tbody td {
    padding: 8px 5px;
    display: inline-block;
    width: 800px;
}*/
/*#form1{
    height:100%;
}

.copy{
    padding:10px;
    background-color:black;
    text-align:center;
    color:white;
}

.index-page .copy{
    margin-top:-32px;
}

.navbar a .icon-flag img{
    height:15px;
    width:auto;
    margin-right:5px;
}


.stats {
    overflow: hidden;
    outline: solid;
    border-color: lightgray;
}

i.dollar2 {
    background: #808080;
}

i.dollar3 {
    background: #ADD8E6;
}*/